torch>=2.0
transformers>=4.36
openai>=1.0
openai-whisper
sounddevice>=0.4
soundfile>=0.12
librosa>=0.10
torchaudio>=2.0
pandas>=1.5
datasets>=2.18
matplotlib>=3.5
pyautogui>=0.9
python-dotenv>=1.0
pydub>=0.25
numpy==1.26.4
pynput
selenium
chromedriver
webdriver-manager
pyautogui